body
{
  background-color: whitesmoke;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.global-container {  
  height: 100%;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  background-color: #f5f5f5; 
  
}  
form {  
  padding-top: 10px;  
  font-size: 14px;  
  margin-top: 30px;  
}  
.card-title {   
font-weight: 300;  
}
.btn {  
  font-size: 14px;  
  margin-top: 20px;  
}  
.login-form {   
  width: 450px;  
  height: 400px;
  margin: 20px;  
  
}
.sign-up {  
  text-align: center;  
  padding: 20px 0 0;  
}  
.alert {  
  margin-bottom: -30px;  
  font-size: 13px;  
  margin-top: 20px;  
}
.hi{
  height:37px;
}

.para{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.btt{
  width: 150px;
  height: 35px;
}

